section.feature{
    margin: 13px auto;
    width: 100%;
    

    max-width: 960px;
}
div.feature-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
div.card-container{
    width: 100%;
    
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}
div.card-container div.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.card h1{
    font-size: 18px;
}
div.card img{
    height: 230px;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.card div.desc{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.card div.desc div.price{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
   width: 100%;
}

div.price> span.second-span{
    position: relative;
    text-align: right;
}
div.price> span.second-span::before{
    content: "";
    height: 100%;
    width: 1px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

div.btn-cotainer{
    width: 100%;
    /* height: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;

}
div.btn-cotainer> button{
    padding: 8px 15px;
    border: 1px solid black;
    color: black;

}

@media(max-width:768px){
div.card-container{
    grid-template-columns:1fr 1fr;
    gap: 10px;
    
}
}

@media(max-width:500px){
    div.card-container{
    padding: 6px;
    grid-template-columns: 1fr;
    gap: 8px;
}
}